torch
torchvision
opencv-python
pyyaml
json_tricks
yacs
scikit-learn
pandas
timm
numpy
einops
fvcore
transformers
sentencepiece
ftfy
regex
nltk
vision-datasets==0.2.2
pycocotools
diffdist
pyarrow
cityscapesscripts
shapely
scikit-image
mup
gradio==3.13.0
scann
kornia==0.6.4
torchmetrics==0.6.0
mpi4py